
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}


body, select, input, textarea { color: $text; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }

a, a:active, a:visited, {
    text-decoration: none;
}

body {
    font-family: $sans;
    font-size: $char;
    line-height: $vu;
    color: $text;
    background-color: $back;
}

h2 {
    font-size: 32px;
    margin-bottom: $control-margin-bottom;
}

h2 {
    font-size: 32px;

    &.with-dialog {
        margin-left: 424px;
    }
}

p {
    margin-bottom: $vu;
}

.content {
    color: $dark-text;
    font-weight: 300;
    margin-bottom:32px;
}


/* Custom page footer */
.footer {
  padding-top: 13px;
  margin-top:20px;
  color: #777;
  border-top: 1px solid $orange;
}

