

.navbar {
    border-radius: 0;
    margin-top: 20px;
    padding:10px 0;

    background-color: $orange;
    color: rgb(255,255,255);

    @include tablet {
        margin-top: 30px;
    }

    @include desktop {
        margin-top: 60px;
    }

    a {
        &:link,
        &:visited,
        &:hover,
        &:focus,
        &:active {
            color: rgb(255,255,255);
        }
    }

    .navbar-brand {
        position: relative;
        font-size: 48px;
        line-height: 0.85em;
        top:-0.67em;
        font-weight: 500;

        a:hover {
            text-decoration: none;
        }
    }
}

.nav {
    font-size: 26px;
    font-weight: 200;

    li {
        &:not(:first-child) {
            border-left: solid 2px rgb(255,255,255);
        }
        margin-top:5px;

        a {
            color: $text;
            border-radius:0;
            padding:10px 25px;
            &:hover {
                color: $orange;
                background-color: $white;
            }
        }
    }
}
