
$project-box-padding: 15px 20px;

.project-container {
    color: $dark-text;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    background: $white;

    p {
        font-weight: 300;
        font-size: 14px;
        color: $light-text;
        line-height:1.25em;
    }

    h3, .project-title {
        font-weight: 400;
        font-size: 18px;
        margin-top:0;
    }

    .project-description {
        margin-bottom:0;
    }

    .project-header {
        padding:$project-box-padding;
        border-bottom: 1px solid $input-grey;
    }

    .project-stats {
        padding:$project-box-padding;

        p {
            margin:5px 0;
            .orange {
                color:$orange;
            }
        }
    }

    .project-slider {
        padding:$project-box-padding;
        display:block;
        position: relative;

        .step-slider {
            display:block;
            margin:20px 5px;
        }
    }
}