{% extends "layouts/default.html" %}

{% block content %}
  <div class="content row">
      <div class="col-sm-12">
        <h2 class="">About Open Reblock</h2>
        <p>Lorem ipsum dolor sit amet, mei te iracundia disputando, movet nominavi eos at, et simul corpora pri. Conceptam scripserit id nec, per rebum fierent elaboraret ex. Dicant interpretaris ex has, nostrud civibus pro ne. Iriure numquam lucilius vim an. Altera delicata oportere ad nec, qui ea purto recusabo.</p>
      </div>
  </div>
{% endblock %}

{% block footer_scripts %}
{% endblock %}