{% extends "layouts/project.html" %}

{% block project_title %}Cape Town Project{% endblock %}
{% block project_location %}Cape Town, South Africa{% endblock %}
{% block project_description %}
This map shows a block in Khayelitsha, a township in Capetown, South Africa.   These parcels were identified from March 2009 aerial photography, in conjunction with a data collection exercise by Community Organisation Resource Centre (CORC).  In this map, green lines show roads and paths, orange outlines parcels which do not have direct access to roads or paths are outlined in orange, and parcels which do have access are outlined in grey.
{% endblock %}


{% block inline_scripts %}
  {% include "data/capetown/stats.js" %}
{% endblock %}