{% extends "layouts/project.html" %}

{% block project_title %}Cape Town Project{% endblock %}
{% block project_location %}Cape Town, South Africa{% endblock %}
{% block project_description %}
The parcels in Khayelitsha, a Township outside Cape Town, South Africa shown were identified based on manual digitization of structures visible from aerial photography taken in March 2009 following a site visit by our team in June 2014 in collaboration with a data collection exercise by Community Organisation Resource Centre (CORC).  During this visit we acquired detailed knowledge (and data) of neighborhood boundaries, services and access conditions.
{% endblock %}


{% block inline_scripts %}
  {% include "data/capetown/stats.js" %}
{% endblock %}