{% extends "layouts/project.html" %}

{% block project_title %}Cape Town Project{% endblock %}
{% block project_location %}Cape Town, South Africa{% endblock %}
{% block project_description %}
Lorem ipsum dolor sit amet, mei te iracundia disputando, movet nominavi eos at, et simul corpora pri.
Conceptam scripserit id nec, per rebum fierent elaboraret ex.
Dicant interpretaris ex has, nostrud civibus pro ne.
Iriure numquam lucilius vim and.
Altera delicata oportere ad nec, qui ea purto recusabo.
{% endblock %}


{% block inline_scripts %}
  {% include "data/capetown/stats.js" %}
{% endblock %}