{% extends "layouts/project.html" %}

{% block project_title %}Epworth Project{% endblock %}
{% block project_location %}Epworth, Zimbabwe{% endblock %}
{% block project_description %}
The data refer to an informal settlement in Epworth, a suburb of Harare, Zimbabwe. These maps and data were collected and created by neighborhood resident community members in collaboration with the Zimbabwe Homeless People's Federation and Dialogue on Shelter, which are federations of Slum/Shack Dwellers International (SDI). These organizations also geo-referenced and digitized the maps.
{% endblock %}


{% block inline_scripts %}
  {% include "data/epworth/stats.js" %}
{% endblock %}