{% extends "layouts/project.html" %}

{% block project_title %}Epworth Project{% endblock %}
{% block project_location %}Harare, Zimbabwe{% endblock %}
{% block project_description %}
This map shows a block in the Epworth neighborhood, a suburb of Harare, Zimbabwe.  This data was collected by neighborhood residents in collaboration with the Zimbabwe Homeless People's Federation and Dialogue on Shelter, which are federations of <a href="http://sdinet.org/">Slum/Shack Dwellers International</a> (SDI).  In this map, gray lines show roads and paths, orange outlines parcels which do not have direct access to roads or paths are outlined in orange, and parcels which do have access are outlined in grey.
{% endblock %}


{% block inline_scripts %}
  {% include "data/epworth/stats.js" %}
{% endblock %}