{% extends "layouts/project.html" %}

{% block project_title %}Epworth Project{% endblock %}
{% block project_location %}Harare, Zimbabwe{% endblock %}
{% block project_description %}
This map shows a block in the Epworth neighborhood, a suburb of Harare, Zimbabwe. The parcel data was collected by neighborhood residents in collaboration with the Zimbabwe Homeless People's Federation and Dialogue on Shelter, which are federations of <a href="http://sdinet.org/">Shack/Slum Dwellers International</a> (SDI). Black lines show streets and paths. Orange outlines parcels with no direct access to streets. Parcels with street access are outlined in grey.
{% endblock %}



{% block inline_scripts %}
  {% include "data/epworth/stats.js" %}
{% endblock %}