{% extends "layouts/default.html" %}

{% block content %}
  <div class="content row">
    <div class="col-md-12">
      <p class="intro-text">Lorem ipsum dolor sit amet, mei te iracundia disputando, movet nominavi eos at, et simul corpora pri. Conceptam scripserit id nec, per rebum fierent elaboraret ex. Dicant interpretaris ex has, nostrud civibus pro ne. Iriure numquam lucilius vim an. Altera delicata oportere ad nec, qui ea purto recusabo.</p>
    </div>
    <div class="col-md-6">
      <div class="project-container link">
        <a class="project-link" href="/epworth.html">
        <div class="project-header">
          <h3 class="project-title">Epworth, Zimbabwe</h3>
          <p class="project-description">Lorem ipsum dolor sit amet, mei te iracundia disputando, movet nominavi eos at, et simul corpora pri. Conceptam scripserit id nec, per rebum fierent elaboraret ex.</p>
        </div>
        <div class="project-img">
          <img class="img-responsive img-rounded" src="/images/epworth.png">
        </div>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="project-container link">
        <a class="project-link" href="/capetown.html">
        <div class="project-header">
          <h3 class="project-title">Cape Town, South Africa</h3>
          <p class="project-description">Lorem ipsum dolor sit amet, mei te iracundia disputando, movet nominavi eos at, et simul corpora pri. Conceptam scripserit id nec, per rebum fierent elaboraret ex.</p>
        </div>
        <div class="project-img">
          <img  class="img-responsive img-rounded" src="/images/epworth.png">
        </div>
        </a>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer_scripts %}
{% endblock %}