{% extends "layouts/default.html" %}

{% block content %}
  <div class="content">
    <div class="row">
      <div class="col-sm-12">
        <p class="intro-text">The examples below show one potential solution for how to provide universal access to roads or paths in a minimally disruptive way.  Some minimum access width is an important condition for providing important urban services like toilets, improved drainage, and emergency services.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="project-container link">
          <a class="project-link" href="/epworth.html">
          <div class="project-header">
            <h3 class="project-title">Harare, Zimbabwe</h3>
            <p class="project-description">Lorem ipsum dolor sit amet, mei te iracundia disputando, movet nominavi eos at, et simul corpora pri. Conceptam scripserit id nec, per rebum fierent elaboraret ex.</p>
          </div>
          <div class="project-img">
            <img class="img-responsive img-rounded" src="/images/epworth.png">
          </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="project-container link">
          <a class="project-link" href="/capetown.html">
          <div class="project-header">
            <h3 class="project-title">Cape Town, South Africa</h3>
            <p class="project-description">Lorem ipsum dolor sit amet, mei te iracundia disputando, movet nominavi eos at, et simul corpora pri. Conceptam scripserit id nec, per rebum fierent elaboraret ex.</p>
          </div>
          <div class="project-img">
            <img  class="img-responsive img-rounded" src="/images/capetown.png">
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer_scripts %}
{% endblock %}