{% extends "layouts/default.html" %}

{% block content %}
  <div class="content">
    <div class="row">
      <div class="col-sm-12">
        <p class="intro-text">In the developed world, we take it for granted that every city parcel has access to basic city services: clean water, electricity, sewage, access for emergency vehicles. This access, far from being a natural feature of cities, is a challenge in informal settlements, home for over 1 billion people around the world. These people live in urban areas that are often built literally “off the grid,” and many of their homes have no street access.</p>
        <p class="intro-text">Residents of these neighborhoods are working to develop solutions for their own neighborhoods, and city planners around the world are becoming convinced that these settlements are not going anywhere. In both cases, people recognize that it is time to adapt to this new reality and start delivering formal infrastructure to the urban places where people lack access to it. However, since these settlements were laid out so that many structures lack road access, the only way to deliver water or remove refuse for a home is directly through other homes. The question for informal settlement residents and urban planners alike is: how to deliver infrastructure to all the homes in a block with minimal disruption? Can maps and computers help?</p>
        <p class="intro-text">Reblocking is the process of physically transforming an informal settlement to provide an access path to all its structures. This project analyzes the spatial structure of informal city blocks, and uses an algorithm to suggest reblocking solutions that provide access to all structures within the block in a minimally disruptive way. Click on one of the examples below to see the process unfold.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="project-container link">
          <a class="project-link" href="/epworth.html">
          <div class="project-header">
            <h3 class="project-title">Harare, Zimbabwe</h3>
            <p class="project-description">This is a small city block with 7 interior parcels (orange). These parcels lack street access. By adding six new street segments (just over 100m) all places become connected to the existing street network.</p>
          </div>
          <div class="project-img">
            <img class="img-responsive img-rounded" src="/images/epworth.png">
          </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="project-container link">
          <a class="project-link" href="/capetown.html">
          <div class="project-header">
            <h3 class="project-title">Cape Town, South Africa</h3>
            <p class="project-description">This is a much larger and denser city block with 390 interior parcels (orange). To access the most internal places, one must cross at least five other parcels. Optimal reblocking suggests the addition of over 1000m of new streets.</p>
          </div>
          <div class="project-img">
            <img  class="img-responsive img-rounded" src="/images/capetown.png">
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer_scripts %}
{% endblock %}