{% extends "layouts/default.html" %}

{% block content %}
  <div class="content-header row">
      <div class="col-sm-5">
        <h2 class="project-name">{% block project_title %}Example Project{% endblock %}</h2>
      </div>
  </div>
  <div class="content row">
    <div class="col-sm-5">
      <div class="project-container">
        <div class="project-header">
          <h3 class="project-title">{% block project_location %}Some Location{% endblock %}</h3>
          <p class="project-description">{% block project_description %}Lorem ipsum dolor sit amet, mei te iracundia disputando, movet nominavi eos at, et simul corpora pri. Conceptam scripserit id nec, per rebum fierent elaboraret ex. Dicant interpretaris ex has, nostrud civibus pro ne. Iriure numquam lucilius vim an. Altera delicata oportere ad nec, qui ea purto recusabo.{% endblock %}</p>
        </div>
        <div class="project-stats">
          <p><span id="stat-paths" class="orange"></span><span class="orange">m</span> of paths</p>
          <p><span id="stat-parcels" class="orange"></span><span class="orange">m<sup>2</sup></span> of parcels</p>
          <p><span id="stat-area" class="orange"></span><span class="orange">%</span> of area needed for paths</p>
          <p><span id="stat-isolated" class="orange"></span> isolated parcels</p>
        </div>
        <div class="project-slider">
          <h3>Step Selector</h3>
          <div class="step-slider"></div>
        </div>
      </div>
    </div>

    <div class="map-container col-sm-7">
      <div id="map">
      </div>
    </div>
  </div>
{% endblock %}